<h3>Modulo de edición</h3>
<div class="row">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Palabra:</label>
        <input type="text" class="form-control" [(ngModel)]="palabra.nombre" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Significado</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="palabra.significado" rows="3"></textarea>
    </div>

</div>